<a href="https://colab.research.google.com/github/brayan-mesquita/pandas/blob/main/Anlise-Prouni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# LENDO O DATAFRAME EM CSV

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/brayan-mesquita/pandas/main/dados/cursos-prouni.csv?token=GHSAT0AAAAAABYRUHKQR7J3YG6YR7EWV2MSY332ZVQ')

In [47]:
df.columns

Index(['grau', 'turno', 'mensalidade', 'bolsa_integral_cotas',
       'bolsa_integral_ampla', 'bolsa_parcial_cotas', 'bolsa_parcial_ampla',
       'curso_id', 'curso_busca', 'cidade_busca', 'uf_busca', 'cidade_filtro',
       'universidade_nome', 'campus_nome', 'campus_id', 'nome',
       'nota_integral_ampla', 'nota_integral_cotas', 'nota_parcial_ampla',
       'nota_parcial_cotas'],
      dtype='object')

In [59]:
administracao = df[df['nome'] == 'Administração']
administracao.describe()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,campus_id,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
count,2754.000000,2288.000000,1799.000000,570.000000,867.000000,2.754000e+03,2.754000e+03,2288.000000,1302.000000,1056.000000,381.000000
mean,542.997491,1.774038,2.876598,2.096491,11.916955,2.998479e+13,6.864286e+05,575.236670,554.266651,533.483580,510.981995
std,392.767032,2.473487,4.184736,2.020846,25.640435,5.368858e+13,6.015446e+05,42.079418,48.546789,51.418042,48.777326
min,169.000000,0.000000,1.000000,1.000000,1.000000,2.248802e+07,2.240000e+02,450.000000,450.000000,450.000000,450.000000
25%,298.000000,1.000000,1.000000,1.000000,1.000000,1.334595e+11,1.427400e+04,553.750000,530.050000,497.825000,450.000000
50%,393.675000,1.000000,2.000000,1.000000,3.000000,1.051526e+12,6.592030e+05,578.220000,563.100000,542.140000,513.240000
75%,694.772500,2.000000,3.000000,2.000000,10.000000,2.004744e+13,1.059819e+06,601.925000,588.185000,571.180000,552.980000
max,6552.520000,37.000000,67.000000,15.000000,350.000000,2.008359e+14,2.008633e+06,729.040000,675.560000,682.360000,655.320000

In [61]:
administracao['campus_nome']

95                                       MARUMBY - Lindóia
96                                       MARUMBY - Lindóia
149                        UNIDADE SEDE - Parque São Paulo
177      CAMPUS  - CAMPINAS - BARÃO GERALDO - Barão Ger...
201                 UNISINOS PORTO ALEGRE - Três Figueiras
                               ...
41094                          ARAÇATUBA/SP - Vila Estádio
41095                                CATANDUVA/SP - Centro
41097                   GUARATINGUETÁ/SP - Campo do Galvão
41101            SÃO JOSÉ DO RIO PRETO/SP - Vila Sinibaldi
41103                       TAUBATÉ/SP - Jardim das Nações
Name: campus_nome, Length: 2754, dtype: object

In [ ]:
df[df['nome'] == 'Medicina'].describe()

       mensalidade  ...  nota_parcial_cotas
count   124.000000  ...           21.000000
mean   7168.341532  ...          725.140000
std    1085.360331  ...           15.571953
min    4781.250000  ...          690.180000
25%    6383.977500  ...          717.600000
50%    7221.250000  ...          723.280000
75%    7808.175000  ...          728.540000
max    9999.990000  ...          768.340000

[8 rows x 11 columns]

#ORDENANDO O DATAFRAME

In [ ]:

df.sort_values(by=['mensalidade', 'bolsa_integral_ampla'], ascending=True).head(3)

              grau              turno  ...  nota_parcial_ampla  nota_parcial_cotas
41446  Tecnológico  Curso a Distância  ...                 NaN                 NaN
41444  Tecnológico         Vespertino  ...                 NaN                 NaN
41445  Bacharelado  Curso a Distância  ...                 NaN                 NaN

[3 rows x 20 columns]

In [ ]:
#CONTAGEM OS TIPOS DE CURSOS
df['nome'].value_counts()

Administração                              2754
Pedagogia                                  2555
Ciências Contábeis                         2056
Gestão de Recursos Humanos                 1595
Educação Física                            1528
                                           ...
Ciências Biológicas - Modalidade Médica       1
Química Industrial                            1
Administração de Empresas                     1
Agropecuária                                  1
Artes                                         1
Name: nome, Length: 296, dtype: int64

#AGRUPANDO ITENS

In [ ]:

agrupando = df.groupby(['uf_busca'])

In [ ]:
agrupando['curso_busca'].value_counts()

uf_busca  curso_busca
AC        Administração                 12
          Pedagogia                     12
          Ciências Contábeis            11
          Gestão Pública                10
          Gestão de Recursos Humanos     9
                                        ..
TO        Publicidade e Propaganda       1
          Secretariado                   1
          Segurança da Informação        1
          Sistema de Informação          1
          Sistemas de Informação         1
Name: curso_busca, Length: 2715, dtype: int64

In [ ]:
#agg agregador
df.groupby(['uf_busca', 'curso_busca', 'grau', 'turno']).agg(['mean', 'median'])

                                                                              mensalidade  \
                                                                                     mean
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância  300.571429
                                                            Noturno            623.540000
                                                            Vespertino         476.000000
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância  306.800000
                                                            Noturno            493.000000
...                                                                                   ...
TO       Sistemas de Informação                Bacharelado  Noturno            939.540000
         Sociologia                            Licenciatura Curso a Distância  189.500000
         Teologia                              Bacharelado  Curso a Distância  204.250000
         Turismo                               Bacharelado  Matutino           377.730000
                                                            Noturno            430.760000

                                                                                       \
                                                                               median
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância  298.00
                                                            Noturno            597.47
                                                            Vespertino         476.00
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância  325.00
                                                            Noturno            493.00
...                                                                               ...
TO       Sistemas de Informação                Bacharelado  Noturno            939.54
         Sociologia                            Licenciatura Curso a Distância  189.50
         Teologia                              Bacharelado  Curso a Distância  189.00
         Turismo                               Bacharelado  Matutino           377.73
                                                            Noturno            430.76

                                                                              bolsa_integral_cotas  \
                                                                                              mean
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância                  1.0
                                                            Noturno                            1.0
                                                            Vespertino                         4.0
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância                  1.0
                                                            Noturno                            1.0
...                                                                                            ...
TO       Sistemas de Informação                Bacharelado  Noturno                            0.0
         Sociologia                            Licenciatura Curso a Distância                  1.0
         Teologia                              Bacharelado  Curso a Distância                  1.0
         Turismo                               Bacharelado  Matutino                           2.0
                                                            Noturno                            2.0

                                                                                      \
                                                                              median
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância    1.0
                                                            Noturno              1.0
                                                            Vespertino           4.0
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância    1.0
                                                            Noturno              1.0
...                                                                              ...
TO       Sistemas de Informação                Bacharelado  Noturno              0.0
         Sociologia                            Licenciatura Curso a Distância    1.0
         Teologia                              Bacharelado  Curso a Distância    1.0
         Turismo                               Bacharelado  Matutino             2.0
                                                            Noturno              2.0

                                                                              bolsa_integral_ampla  \
                                                                                              mean
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância             1.000000
                                                            Noturno                       1.333333
                                                            Vespertino                    1.000000
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância                  NaN
                                                            Noturno                            NaN
...                                                                                            ...
TO       Sistemas de Informação                Bacharelado  Noturno                      12.000000
         Sociologia                            Licenciatura Curso a Distância                  NaN
         Teologia                              Bacharelado  Curso a Distância                  NaN
         Turismo                               Bacharelado  Matutino                      1.000000
                                                            Noturno                       1.000000

                                                                                      \
                                                                              median
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância    1.0
                                                            Noturno              1.0
                                                            Vespertino           1.0
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância    NaN
                                                            Noturno              NaN
...                                                                              ...
TO       Sistemas de Informação                Bacharelado  Noturno             12.0
         Sociologia                            Licenciatura Curso a Distância    NaN
         Teologia                              Bacharelado  Curso a Distância    NaN
         Turismo                               Bacharelado  Matutino             1.0
                                                            Noturno              1.0

                                                                              bolsa_parcial_cotas  \
                                                                                             mean
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância                 1.0
                                                            Noturno                           4.0
                                                            Vespertino                        6.0
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância                 1.0
                                                            Noturno                           4.0
...                                                                                           ...
TO       Sistemas de Informação                Bacharelado  Noturno                           NaN
         Sociologia                            Licenciatura Curso a Distância                 1.0
         Teologia                              Bacharelado  Curso a Distância                 1.0
         Turismo                               Bacharelado  Matutino                          NaN
                                                            Noturno                           NaN

                                                                                      \
                                                                              median
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância    1.0
                                                            Noturno              4.0
                                                            Vespertino           6.0
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância    1.0
                                                            Noturno              4.0
...                                                                              ...
TO       Sistemas de Informação                Bacharelado  Noturno              NaN
         Sociologia                            Licenciatura Curso a Distância    1.0
         Teologia                              Bacharelado  Curso a Distância    1.0
         Turismo                               Bacharelado  Matutino             NaN
                                                            Noturno              NaN

                                                                              bolsa_parcial_ampla  \
                                                                                             mean
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância                 NaN
                                                            Noturno                      1.666667
                                                            Vespertino                   2.000000
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância                 NaN
                                                            Noturno                      2.000000
...                                                                                           ...
TO       Sistemas de Informação                Bacharelado  Noturno                           NaN
         Sociologia                            Licenciatura Curso a Distância                 NaN
         Teologia                              Bacharelado  Curso a Distância                 NaN
         Turismo                               Bacharelado  Matutino                          NaN
                                                            Noturno                           NaN

                                                                                      \
                                                                              median
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância    NaN
                                                            Noturno              2.0
                                                            Vespertino           2.0
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância    NaN
                                                            Noturno              2.0
...                                                                              ...
TO       Sistemas de Informação                Bacharelado  Noturno              NaN
         Sociologia                            Licenciatura Curso a Distância    NaN
         Teologia                              Bacharelado  Curso a Distância    NaN
         Turismo                               Bacharelado  Matutino             NaN
                                                            Noturno              NaN

                                                                               ...  \
                                                                               ...
uf_busca curso_busca                           grau         turno              ...
AC       Administração                         Bacharelado  Curso a Distância  ...
                                                            Noturno            ...
                                                            Vespertino         ...
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância  ...
                                                            Noturno            ...
...                                                                            ...
TO       Sistemas de Informação                Bacharelado  Noturno            ...
         Sociologia                            Licenciatura Curso a Distância  ...
         Teologia                              Bacharelado  Curso a Distância  ...
         Turismo                               Bacharelado  Matutino           ...
                                                            Noturno            ...

                                                                                   campus_id  \
                                                                                        mean
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância  444729.857143
                                                            Noturno            871662.250000
                                                            Vespertino         695587.000000
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância  616199.800000
                                                            Noturno            695587.000000
...                                                                                      ...
TO       Sistemas de Informação                Bacharelado  Noturno            686979.000000
         Sociologia                            Licenciatura Curso a Distância   14040.500000
         Teologia                              Bacharelado  Curso a Distância  778500.250000
         Turismo                               Bacharelado  Matutino           659008.000000
                                                            Noturno            658233.000000

                                                                                         \
                                                                                 median
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância   22913.0
                                                            Noturno            880637.0
                                                            Vespertino         695587.0
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância   24632.0
                                                            Noturno            695587.0
...                                                                                 ...
TO       Sistemas de Informação                Bacharelado  Noturno            686979.0
         Sociologia                            Licenciatura Curso a Distância   14040.5
         Teologia                              Bacharelado  Curso a Distância  550686.0
         Turismo                               Bacharelado  Matutino           659008.0
                                                            Noturno            658233.0

                                                                              nota_integral_ampla  \
                                                                                             mean
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância          611.853333
                                                            Noturno                    594.186667
                                                            Vespertino                 612.240000
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância          589.775000
                                                            Noturno                    579.960000
...                                                                                           ...
TO       Sistemas de Informação                Bacharelado  Noturno                    583.800000
         Sociologia                            Licenciatura Curso a Distância          502.360000
         Teologia                              Bacharelado  Curso a Distância          525.660000
         Turismo                               Bacharelado  Matutino                   599.360000
                                                            Noturno                    557.600000

                                                                                       \
                                                                               median
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância  616.68
                                                            Noturno            606.40
                                                            Vespertino         612.24
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância  594.17
                                                            Noturno            579.96
...                                                                               ...
TO       Sistemas de Informação                Bacharelado  Noturno            583.80
         Sociologia                            Licenciatura Curso a Distância  502.36
         Teologia                              Bacharelado  Curso a Distância  525.66
         Turismo                               Bacharelado  Matutino           599.36
                                                            Noturno            557.60

                                                                              nota_integral_cotas  \
                                                                                             mean
uf_busca curso_busca                           grau         turno
AC       Administração                         Bacharelado  Curso a Distância              548.00
                                                            Noturno                        588.23
                                                            Vespertino                     595.18
         Análise e Desenvolvimento de Sistemas Tecnológico  Curso a Distância                 NaN
                                                            Noturno                           NaN
...                                                                                           ...
TO       Sistemas de Informação                Bacharelado  Noturno                           NaN
         Sociologia                            Licenciatura Curso a Distância                 NaN
         Teologia                              Bacharelado  Curso a Distância                 NaN
         Turismo                               Bacharelado  Matutino                       553.22

In [ ]:
#agrupar a UF e o curso buscado e contar a quantidade de bolsas
bolsas_por_estado = df.groupby(['uf_busca', 'curso_busca'])['bolsa_integral_cotas'].count()

In [ ]:
bolsas_por_estado

uf_busca  curso_busca
AC        Administração                            7
          Análise e Desenvolvimento de Sistemas    6
          Arquitetura e Urbanismo                  4
          Artes VIsuais                            1
          Biblioteconomia                          1
                                                  ..
TO        Sistema de Informação                    1
          Sistemas de Informação                   1
          Sociologia                               1
          Teologia                                 2
          Turismo                                  2
Name: bolsa_integral_cotas, Length: 2715, dtype: int64

PAREI A VIDEO AULA AOS 9MIN

https://www.youtube.com/watch?v=L4rvlP6pQpE