In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({"Nomes":['Brayan', 'Miguel', 'Patrica'], "Idades":[28, 38, 3]})
df['Independente'] = np.where(df['Idades'] >18, 'Maior de idade', 'Menor de idade')
df

     Nomes  Idades    Independente
0   Brayan      28  Maior de idade
1   Miguel      38  Maior de idade
2  Patrica       3  Menor de idade