In [2]:
import pandas as pd

In [57]:
df = pd.read_excel('dados/benssesdec.xlsx')

In [58]:
df.shape

(11881, 20)

In [56]:
df.head(3)

,Item,Sim-Plaqueta,Não-Plaqueta,Tombo,Descrição,Nº DE SÉRIE,Unidade,Departamento,SALA,LOCALIZADO,Estado de Conservação,Unnamed: 11,Unnamed: 12,Unnamed: 13,Classificação,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1121,X,NaN,47158,AR CONDICIONADO 12.000 BTUS (CONDENSADORA)ELET...,302AZPV80864,ALTA FLORESTA- DELEGACIA DE POLICIA CIVIL,ADMINISTRAÇÃO,NaN,NaN,NaN,NaN,NaN,X,NaN,X,NaN,NaN,X,NaN
1,2689,X,NaN,40653,ARMARIO/ARTILINE/,000000,ALTA FLORESTA- DELEGACIA DE POLICIA CIVIL,ADMINISTRAÇÃO,NaN,NaN,NaN,NaN,X,NaN,X,NaN,NaN,NaN,NaN,NaN
2,9875,X,NaN,48163,"CAMERA DIGITAL JX580 16.1 MP, 5X DE ZOOM OPTIC...",2RB39664,ALTA FLORESTA- DELEGACIA DE POLICIA CIVIL,ADMINISTRAÇÃO,NaN,NaN,NaN,NaN,NaN,X,NaN,X,NaN,NaN,NaN,X

In [61]:
unidade = df['Unidade'].drop_duplicates()
print(f"{unidade.count()} Unidades")

73 Unidades

In [62]:
def paracsv(unidade):
    colunas = ['Descrição', 'Tombo']
    filtro = df.loc[(df['Unidade']==unidade), colunas]
    novas_colunas = ['Localizado', 'Responsável']
    for colunas in novas_colunas:
        filtro[colunas] = '-'
    filtro.to_csv(fr'{unidade}.csv',  index = False, header=True)

In [64]:
ariquemes = df.loc[(df['Unidade']=='ARIQUEMES- UNISP'), ['Unidade', 'Tombo', 'Descrição']]
filtro.head(3)

,Unidade,Tombo,Descrição
349,ARIQUEMES- UNISP,57388,"AR CONDICIONADO SPLIT, 58.000 BTUS PISO TETO H..."
350,ARIQUEMES- UNISP,57389,"AR CONDICIONADO SPLIT, 58.000 BTUS PISO TETO H..."
351,ARIQUEMES- UNISP,26640,"ARMARIO ALTO,C/02 PORTAS,MED. 900X420X2100MM//"