In [2]:
import pandas as pd

In [3]:
#SERIES ESTRUTUTURAS UNIDIMENSIONAIS
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])
s

a    3
b   -5
c    7
d    4
dtype: int64

In [4]:
#DATAFRAME ESTRUTURAS BI-DIMENSIONAIS
data = {
'País': ['Bélgica', 'Índia', 'Brasil'],
'Capital': ['Bruxelas', 'Nova Delhi', 'Brasília'],
'População': [123465, 456789, 987654]}
df = pd.DataFrame(data, columns=['País', 'Capital', 'População'])
df

      País     Capital  População
0  Bélgica    Bruxelas     123465
1    Índia  Nova Delhi     456789
2   Brasil    Brasília     987654

In [6]:
# REMOVE LINHAS DETERMINADAS PELO INDICE
df.drop([1,0])

     País   Capital  População
2  Brasil  Brasília     987654

In [11]:
# REMOVER COLUNA 
df.drop('País', axis=1)

      Capital  População
0    Bruxelas     123465
1  Nova Delhi     456789
2    Brasília     987654

In [13]:
df.shape

(3, 3)

In [14]:
df.info

<bound method DataFrame.info of       País     Capital  População
0  Bélgica    Bruxelas     123465
1    Índia  Nova Delhi     456789
2   Brasil    Brasília     987654>

In [15]:
df.columns

Index(['País', 'Capital', 'População'], dtype='object')

In [27]:
#CRIAR NOVA COLUNA
df

      País     Capital  População  Nova Coluna
0  Bélgica    Bruxelas     123465       246930
1    Índia  Nova Delhi     456789       913578
2   Brasil    Brasília     987654      1975308

In [63]:
marcas = pd.Series(['Honda', 'Chevrolet', 'Ford'])
carros = pd.Series(['civic', 'Onix', 'Ecosport'])

In [60]:
df1 = pd.DataFrame({'Marcas': marcas, 'Carros': carros})

In [55]:
df1.shape

(3, 2)

In [62]:
df1['Marcas']

0         Ford
1    Chevrolet
2         Ford
Name: Marcas, dtype: object